* {
  margin: 0;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(233, 233, 233);
}

.inputField {
  width: 600px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 1px solid black;
}

.label {
  font-size: x-large;
  text-align: center;
  font-weight: bold;
  border-bottom: 1px solid black;
  margin-bottom: 0;
}

#editor {
  height: 100%;
  min-height: 350px;
  border: none;
}

.preview {
  width: 1000px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 1000px;
  border: 1px solid black;
}

.preview > p {
  font-size: x-large;
  text-align: center;
  font-weight: bold;
  border-bottom: 1px solid black;
  margin-bottom: 0;
}

#preview {
  background-color: white;
  word-wrap: break-word;
}

